@mixin margin_lr($left,$right){
   margin-left: $left;
   margin-right: $right;
}
@mixin margin_lt($left,$top) {
    margin-left: $left;
    margin-top: $top;
    
}
@mixin margin_lb($l,$b) {
    margin-left: $l;
    margin-bottom: $b;
    
}
@mixin margin_rt($r,$t) {
    margin-right: $r;
    margin-top: $t;
    
}
@mixin margin_rb($r,$b) {
    margin-right: $r;
    margin-bottom: $b;
}
@mixin margin_tb($t,$b) {
    margin-top: $t;
    margin-bottom: $b;
}
@mixin card {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-left: 60px;
}
